@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

*{
    font-family: 'Gowun Dodum', sans-serif;
    text-decoration: none;
    list-style:none;
    color:#fff;
    margin: 0;
    padding:0;
}
table{
    border-collapse: collapse;
    margin-left:60px;
    width:120px;
    margin-top:60px;
}

td{
    border: 1px solid #333;
    color:#000;
    height:28px;
    text-align:center;
}