@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

*{
    font-family: 'Gowun Dodum', sans-serif;
    text-decoration: none;
    list-style:none;
    color:#fff;
    margin: 0;
    padding:0;
}

tr, td{
    text-align:center;
}
