@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

*{
    font-family: 'Gowun Dodum', sans-serif;
    text-decoration: none;
    list-style:none;
    color:#fff;
    margin: 0;
    padding:0;
}

tr, td{
    text-align:center;
}

td{
    background-color:rgb(241, 241, 224);;
}

.combination_table th{
    color: #fff;

}

.table_controller{
    display:flex;
    justify-content: center;
}

.text{
    margin: 10px;
    color: #000;
}
.index_input{
    width: 30px;
    align-content: center;
}
.arrow{
    cursor: pointer;
}

#save_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    background-color:#298168;
    font-weight:bold;
}
